/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
	}

		#header-wrapper:before
		{
			display: none;
		}

		#header-wrapper:after
		{
			display: none;
		}

	#footer-wrapper
	{
	}

		#footer-wrapper:before
		{
			display: none;
		}