Thumbs.db
.DS_Store
.gradle
build/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/bin/
/bin/
/bin/
/bin/
/bin/
target-eclipse
../RemoteSystemsTempFiles/
../.metadata/

/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/grails-app/assets/images/PRODUCTS_*
/grails-app/assets/images/test.*
