Thumbs.db
.DS_Store
.gradle
build/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/bin/
target-eclipse
../RemoteSystemsTempFiles/
../.metadata/

/grails-app/assets/images/PRODUCTS_*
/grails-app/assets/images/test.*

/grails-app/assets/images/BLOG*
/grails-app/assets/PRODUCTS*
logs/
